 [{
 "id":"{{ virtual_network_id | trim }}",
 "name":"{{ virtual_network.name }}",
 "virtualNetworkContextType":"ISOLATED",
 "namespace":"VirtualNetworkContext",
 "instanceVersion":"{{ virtual_network_instanceVersion }}",
 "resourceVersion":"{{ virtual_network_resourceVersion }}",
 "scalableGroup":[
    {%- for item in get_scalable_groups_response.json.response -%}
        {"idRef":"{{ item.id }}"}{%- if not loop.last -%},{%- endif -%}
    {%- endfor -%}]
 }]