 [{
     "description": "{{ http_write_item.name_description }}",
     "username": "{{ http_write_item.username }}",
     "password": "{{ http_write_item.password }}",
     "port":  "{{ http_write_item.port }}"
}]