 [{
     "description": "{{ http_read_item.name_description }}",
     "username": "{{ http_read_item.username }}",
     "password": "{{ http_read_item.password }}",
     "port":  "{{ http_read_item.port }}"
}]