 [{
    "description": "{{ snmp_v3_item.name_description }}",
    "username": "{{ snmp_v3_item.username }}",
    {%- if snmp_v3_item.mode == 'No_Authentication_and_No_Privacy' -%}
        "snmpMode":"NOAUTHNOPRIV"
    {%- elif snmp_v3_item.mode == 'Authentication_and_No_Privacy' -%}
        "snmpMode":"AUTHNOPRIV",
        "authType": "{{ snmp_v3_item.auth_type }}",
        "authPassword": "{{ snmp_v3_item.auth_password }}"
    {%- elif snmp_v3_item.mode == 'Authentication_and_Privacy' -%}
        "snmpMode":"AUTHPRIV",
        "authType": "{{ snmp_v3_item.auth_type }}",
        "authPassword": "{{ snmp_v3_item.auth_password }}",
        "privacyType": "{{ snmp_v3_item.privacy_type }}",
        "privacyPassword": "{{ snmp_v3_item.privacy_password }}"
    {%- endif -%}
}]