 [{
    {%- if cli_item.comments is defined -%}
        "comments": "{{ cli_item.comments }}",
    {%- endif -%}

    {%- if cli_item.credentialType is defined -%}
        "credentialType": "{{ cli_item.credentialType }}",
    {% else %}
        "credentialType": "GLOBAL",
    {%- endif -%}

    {%- if cli_item.description is defined -%}
        "description": "{{ cli_item.description }}",
    {% else %}
        "description": "{{ cli_item.username }}",
    {%- endif -%}

    {%- if cli_item.enable_password is defined -%}
        "enablePassword": "{{ cli_item.enable_password }}",
    {%- endif -%}

    "password": "{{ cli_item.password }}",
    "username": "{{ cli_item.username }}"
}]
