{%- for item in get_global_credential_response.json.response -%}
    {% for field, value in item.iteritems() %}
        {%- if field ==  key_field_name  -%}
            {%- if value ==  key_field_value  -%}
                {{ item.id }}
            {%- endif -%}
        {%- endif -%} 
    {%- endfor -%}
{%- endfor -%}